<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>測試頁</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>

<div id="container">

    <header th:include="/components/header"></header>

    <div id="mainContent">
        <section th:include="/components/side_nav_bar"></section>

        <section id="popArea" layout:fragment="content"></section>

    </div>

    <footer th:include="/components/footer"></footer>
</div>

</body>
</html>